h1 {
    font-family: fantasy;
    font-size: 50px;
}
.whitecolor.Link{
    opacity: 0.9;
    color: white;
}

.poistion {
    position:relative
}
.IconClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.Imageonther{
    width: 150px;
    height: 150px;
}

.widthhun {
    width: 50%;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    border-radius: 2rem !important;
    overflow: hidden !important;
    height: 91vh ;
}

.test {
    border: 2px solid #fecb3d;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.border-bottom-left-radius{
    border-bottom-left-radius: 20%;
}

.font-family {
    font-family: 'Source Sans Pro', sans-serif;
}
.Link.blackColor{
    color: black;
}

.blackColor {
    color: black;
}

.text-align {
    text-align: center;
}
.line {
    line-height: 50px;
}
.fontSizeDes {
    font-size: 18px;
}

.text-transform {
    text-transform: capitalize;
}

.cursor {
    cursor: pointer;
}

.Icons {
    width: 30px;
}

.height {
    height: 30px;
}
.logo {
    height: 200px;
}

.new{
    height: 100px;
    border-radius: 1rem;
    border-bottom-right-radius: 100%;
}

.colorScreen {
    color: #ffc400e1;
}
.menu-btn {
    margin-left: auto;
}
.margin-left {
    margin-left: 0.5rem;
}
.Scroll {
    height: 250px;
    overflow-y: auto;
    padding: 1rem;
}
.margin-leftone {
    margin-left: 1rem;
}
.margin-leftone {
    margin-right: 1rem;
}
.margin-toptwo {
    margin-top: 2rem;
}
.margin-tophalf {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-top {
    margin-top: 5rem;
}

.margin-tophalfHave {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.Icons_{
    width: 100px;
    height: 100px;
}

.flex {
    display: flex;
}

.flexrow {
    flex-direction: row;
}

.flexcolumn {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}
.bx {
   background-color: #eeeeee38;
}
.antherColor {
    background-color: #eeeeee2b;
}
.align-items {
    align-items: center;
}

.border-top-line {
    border-top: 10px solid #eee;
}

.postionButton{
    position: absolute;
    bottom: 1rem;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.Link{
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0rem !important;
}

ul li {

    transition: all 0.10s;
}

li:hover {
    transition: all 0.10s;
    opacity: 1;
}

.ScreenHover{
    opacity: 0.8;
}
.ScreenHover:hover{
    opacity: 1;
}

.padding {
    padding: 1rem;
}
.paddingHalf {
    padding: 0.5rem;
}
.transform{
    transform: rotate(-54deg);
    height: 50px;
    background: #ffcb3e;
    width: 100px;
    text-align: center;
    line-height: 50px;
    border-radius: 1rem;
    border: none;
}

.whitecolor {
    color: white;
}


.blackBa{
    background: #000;
}
.whiteBacground {
    background-color: white;
}

.redbackground {
    background-color: #ffc400e1;
}
/* .newBack {
    background: #bb4d4dd4;
} */

.border-radius {
    border-radius: 50%;
}
.borderScreen {
    border-radius: 0.5rem;
}

.box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.Image {
    width: 80%;
    height: 300px;
}

.button{
    width: 100%;
    height: 50px;
    border: none;

}
.classButton {
    width: 300px;
    margin-right: 35px;
}
.object-fit {
    object-fit: contain;
}
.object-fitonther {
    object-fit: cover;
}


/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 760px) {
    .font-sizeCart {
        font-size: 16px;
    }
    .FlexSize{
        flex-wrap: wrap;
        justify-content: center;
    }
    .classButton{
        width: 100%;
        margin-right: 0rem;
    }
    .Not-.margin-top{
        margin-top: 0rem;
    }
    .order{
     order: 2;
    }
    .Image{
        width: 90%;
        height: auto;
    }

    .menu-btn__burger {
        width: 30px;
        height: 5px;
        background: #ffc400e1;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }


    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        background: #ffc400e1;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;

    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }


    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .hidden {
        display: none;
        transition: all .5s ease-in-out;
    }

    .hidden.open {
        display: block;
        transition: all .5s ease-in-out;
    }

    ul {
        padding: 0rem;
        margin: 0rem;
    }

    li {
        width: 100%;
        height: 30px;
        margin: 0.1rem;
        opacity: 0.8;
    }

}